@tailwind base;
@tailwind components;
@tailwind utilities;

/* .comfortaa {
	font-family: 'Comfortaa', sans-serif !important;
}

.orbitron {
	font-family: 'Orbitron', sans-serif !important;
} */

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
}

body {
	background: black;
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

::view-transition-group(root) {
	z-index: auto !important;
}

::view-transition-image-pair(root) {
	isolation: isolate;
	will-change: transform, opacity, scale;
	z-index: 1;
}

::view-transition-new(root) {
	z-index: 2;
	animation: none !important;
}

::view-transition-old(root) {
	z-index: 1;
	animation: none !important;
}
@layer utilities {
	.glass-component-1 {
		@apply bg-white/5 backdrop-blur-md border border-white/15;
	}
	.glass-component-2 {
		@apply bg-white/5 backdrop-blur-sm border border-white/15;
	}

	.glass-component-3 {
		@apply bg-white/15 backdrop-blur-sm border border-white/15;
	}

	.warm-cool-text {
		@apply bg-gradient-to-r from-[#E05D5F] to-[#609FE3] text-transparent bg-clip-text;
	}

	.warm-cool-bg {
		@apply bg-gradient-to-r from-[#F05550] via-[#AD7386] to-[#54A4F2];
	}

	.section-container {
		@apply relative overflow-hidden;
	}

	.page-container {
		@apply p-36 flex flex-col justify-center items-center;
	}

	.title-text {
		@apply text-7xl font-bold text-white font-orbitron;
	}

	.content-text {
		@apply text-lg text-center font-comfortaa;
	}
}
